<!-- @format -->

{% extends "base.html" %} {% block content %}
<h1>All Posts</h1>
<div class="row w-100 ">
  {% for post in posts %}
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card m-2">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.content}}</p>
        <p class="text-body-secondary">Author: {{post.author.first_name}}</p>
        <div class="py-1">
          {% for category in post.categories.all %}
          <button class="btn btn-secondary btn-sm">{{category.name}}</button>
          {% endfor %}
        </div>
        <div>
          <a class="btn btn-primary mx-2" href="{% url "edit_post" post.id %}">Edit</a
          ><a class="btn btn-warning" href="{% url "delete_post" post.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
