<!-- @format -->

{% extends "base.html" %} {% block content %}
<section class="p-4">
  <h1>Total Posts {{ posts | length }}</h1>
<div class="d-flex flex-wrap">
  <div class="col-2">
    {% for cat in categories %}
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="category"
        id="{{cat.name}}"
      />
      <label class="form-check-label" for="{{cat.name}}">
        <a href="{% url "category_wise_post" cat.slug %}">{{cat.name}}</a>
      </label>
    </div>
    {% endfor %}
  </div>
  <div class="col-10">
    <div class="d-flex row">
      {% for post in posts %}
      <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card m-2">
          {% if post.image.url is not None %}
          <img src="{{post.image.url}}" class="card-img-top" alt="...">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title"> <a class="text-decoration-none text-black" href="{% url "details_post" post.id %}">{{post.title}}</a> </h5>
            <p class="card-text">{{post.content | truncatewords:10}}</p>
            <p class="text-body-secondary">Author: {{post.author.first_name}}</p>
            <div class="py-1">
              {% for category in post.categories.all %}
              <button class="btn btn-secondary btn-sm">{{category.name}}</button>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</section>
{% endblock %}
